services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo

  frontend:
    image: alazar111/socialbook-frontend:frontend-d22cc65
    ports:
      - "8080:80"
      - "8443:443"
    depends_on:
      - backend

  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=socialbook

volumes:
  mongo_data:
